.heading{
    text-align: center;

  }
  h1{
    background-color:aquamarine;
  }
  
  .para{
    text-align: center;
  }

  .map-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400;
    height: 400;
  }

  .button{
    align-items: center;
    text-align: center;
    width:500px;
    height:500px;
  }