.map-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800;
  height: 600;
}

.body{
 font-family: "Lucida Console", "Courier New", monospace;
}

.heading{
  text-align: center;
}

.para{
  text-align: center;
}

