<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">
    <servlet>
        <servlet-name>fetchrecords</servlet-name>
        <servlet-class>fetch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fetchrecords</servlet-name>
        <url-pattern>/bring</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertrecords</servlet-name>
        <servlet-class>create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertrecords</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>alterrecords</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alterrecords</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleterecords</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleterecords</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>testing</servlet-name>
        <servlet-class>basic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testing</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fullmarks</servlet-name>
        <servlet-class>p12_db1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fullmarks</servlet-name>
        <url-pattern>/db1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>certainmarks</servlet-name>
        <servlet-class>p12_db2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>certainmarks</servlet-name>
        <url-pattern>/db2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>simple</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Array-trad</servlet-name>
        <servlet-class>trad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Array-trad</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Rank-display</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rank-display</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
</web-app>